.fa-icon {
  margin-right: 5px;
}

.todoListItem {
  font-size: medium;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.site-layout {
  background-color: white;
}
